@tailwind base;
:root {
    --primary: rgb(243, 240, 246);
    --secondary: cornflowerblue;
  }
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }

  *::-webkit-scrollbar {
    width: 14px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
  }
@tailwind components;
@tailwind utilities;

.message.owner {
 
  display: flex;
  flex-direction: row-reverse;
}
.message.owner p {
  background-color: #45b7ec;
  color: aliceblue;
  border-radius: 4rem;
}
.messagecontent.owner{
  align-items: flex-end;
}
body{
  margin: 0.5rem;
}